# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore IDE/editor specific files
.idea/
.vscode/
*.swp

